<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>James Laube</string>
		<key>jobtitle</key>
		<string>Senior editor, New York</string>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>40.67234</real>
			<key>longitude</key>
			<real>70.23333</real>
		</dict>
		<key>tastingbeat</key>
		<string>California</string>
		<key>introduction</key>
		<string>James Laube is Wine Spectator&apos;s expert on the wines of California. He has been writing for the magazine since 1980, and he joined the staff full-time in 1983.

The second edition of Laube&apos;s third book, California Wine, was published in 1999. The first edition of California Wine won the 1996 James Beard Award for best wine book of the year. His previous two books are California&apos;s Great Cabernets and California&apos;s Great Chardonnays.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kim Marcus</string>
		<key>jobtitle</key>
		<string>Managing editor, New York</string>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>45.12345</real>
			<key>longitude</key>
			<real>73.12222</real>
		</dict>
		<key>tastingbeat</key>
		<string>Argentina, Austria, Chile, Germany, Portugal</string>
		<key>introduction</key>
		<string>Kim Marcus joined the Wine Spectator staff in San Francisco in 1988 and was reassigned to New York in 1993. He has been a regular taster since 1990.

</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thomas Matthews</string>
		<key>jobtitle</key>
		<string>Executive editor, New York</string>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>42.98566</real>
			<key>longitude</key>
			<real>72.17777</real>
		</dict>
		<key>tastingbeat</key>
		<string>New York, Spain</string>
		<key>introduction</key>
		<string>Thomas Matthews has been writing for Wine Spectator since 1987, when he was a freelancer living in Bordeaux. Hired full-time in 1988, Matthews served first in the London office, then was reassigned to New York.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>James Molesworth</string>
		<key>jobtitle</key>
		<string>Senior editor, New York</string>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>46.111112</real>
			<key>longitude</key>
			<real>70.999887</real>
		</dict>
		<key>tastingbeat</key>
		<string>Bordeaux, Finger Lakes, Loire Valley, Rhone Valley, South Africa</string>
		<key>introduction</key>
		<string>James Molesworth joined Wine Spectator in 1997, after working five years in retail wine sales and as a sommelier. He has been a regular taster since 2000.

You can now follow James Molesworth on Twitter, at http://twitter.com/jmolesworth1.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bruce Sanderson</string>
		<key>jobtitle</key>
		<string>Senior editor and tasting director, New York</string>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>56.23333</real>
			<key>longitude</key>
			<real>70.443265</real>
		</dict>
		<key>tastingbeat</key>
		<string>Burgundy, Italy</string>
		<key>introduction</key>
		<string>Bruce Sanderson joined Wine Spectator in 1993, after working for the previous five years as a wine steward and in retail wine sales. As Tasting Director, he oversees Wine Spectator&apos;s tasting operations in New York, Napa and Europe.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Harvey Steinman</string>
		<key>jobtitle</key>
		<string>Editor at large, San Francisco</string>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>37.7749295</real>
			<key>longitude</key>
			<real>-122.4192355</real>
		</dict>
		<key>tastingbeat</key>
		<string>Australia, Oregon, Washington</string>
		<key>introduction</key>
		<string>Harvey Steiman joined Wine Spectator in 1983, after serving as food and wine editor of the San Francisco Examiner. Steiman&apos;s book Essentials of Wine, published in 2000, is a comprehensive introduction to wine basics.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tim Fish</string>
		<key>jobtitle</key>
		<string>Senior editor, Napa</string>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>38.3047222</real>
			<key>longitude</key>
			<real>-122.298889</real>
		</dict>
		<key>tastingbeat</key>
		<string>California Merlot and Zinfandel, U.S. sparkling wines</string>
		<key>introduction</key>
		<string>Senior editor Tim Fish joined the Wine Spectator staff in 2001 and is based in Wine Spectator’s Napa, Calif., office. He is the lead taster for California Zinfandel and Merlot, as well as for U.S. sparkling wines. He was promoted to senior editor in 2013 and also assists with news and feature coverage for WineSpectator.com, for which he writes the popular weekly blog Exploring Wine.

Fish earned a degree in journalism from Western Kentucky University. Prior to joining Wine Spectator, he worked for 20 years in newspapers, magazines and Internet ventures. Fish has been a resident of Sonoma County for more than two decades.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alison Napjus</string>
		<key>jobtitle</key>
		<string>Senior editor and senior tasting coordinator, New York</string>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>42.78653</real>
			<key>longitude</key>
			<real>-74.00038847</real>
		</dict>
		<key>tastingbeat</key>
		<string>Alsace, Beaujolais, Champagne, Italy</string>
		<key>introduction</key>
		<string>Alison Napjus, who has worked in Wine Spectator&apos;s New York office since 2000, is currently Wine Spectator&apos;s lead taster on Champagne, Alsace and Beaujolais; she also tastes the wines of northeastern Italy and Penedès in Spain. She has written numerous tasting reports and feature stories for Wine Spectator and WineSpectator.com. In 2012, she presented a tasting seminar on Krug Champagnes at the New World Wine Experience in Los Angeles. She was promoted to senior editor in December 2012.

As senior tasting coordinator in Wine Spectator&apos;s New York office, Napjus is responsible for training new staff members, managing the cellars and coordinating blind tastings.

Napjus graduated from Cornell University&apos;s School of Hotel Administration and worked at a number of restaurants; at the time she joined Wine Spectator, she was a manager at New York&apos;s Tribeca Grill, which later earned a Wine Spectator Grand Award.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MaryAnn Worobiec</string>
		<key>jobtitle</key>
		<string>Senior editor and senior tasting coordinator, Napa</string>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>39.111222</real>
			<key>longitude</key>
			<real>-123.98888</real>
		</dict>
		<key>tastingbeat</key>
		<string>New Zealand, California (Petite Sirah, Sauvignon Blanc, other whites)</string>
		<key>introduction</key>
		<string>MaryAnn Worobiec has been with Wine Spectator since 1997. As senior tasting coordinator in Wine Spectator&apos;s Napa, Calif., office, Worobiec has been responsible for training new staff members, managing the cellars and coordinating blind tastings. She is the lead taster for New Zealand and also tastes Petite Sirah, as well as Sauvignon Blanc and other white wines from California. She was promoted to senior editor in January 2013.

A graduate of Ohio State University with a degree in political science and sociology, Worobiec worked for the Ohio House of Representatives before falling in love with wine.</string>
	</dict>
</array>
</plist>
